(edif HC4511
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 29 22 47 28)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell XNOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A ^ B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell XA1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A ^ B) & C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell OR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + !C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OAI1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!((A + B) & C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + !C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell DLN1P1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
           (port G (direction INPUT)
           (property clock (integer 1))
 )
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
       )
    )
    (cell DLN0P1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
           (port G (direction INPUT)
           (property clock (integer 1))
 )
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell AOI1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + !C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC4511 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename a "A[3:0]") 4) (direction INPUT))
           (port (array (rename seg "Seg[7:0]") 8) (direction OUTPUT))
           (port LT_N (direction INPUT))
           (port BI_N (direction INPUT))
           (port LE (direction INPUT)
 )
         )
         (contents
          (instance LE_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_RNO_7 "Seg_pad_RNO[7]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance LT_N_pad_RNIFIL2 (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename SM_8S_1_0_i_a3_0_1_2 "SM_8S_1_0_i_a3_0_1[2]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_a3_1 "SM_8S_1_i_0_a3[1]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance (rename SM_8S_1_0_i_a3_2 "SM_8S_1_0_i_a3[2]") (viewRef prim (cellRef NOR3B (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_a3_0_3 "SM_8S_1_i_0_a3_0[3]") (viewRef prim (cellRef NOR3B (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_1 "SM_8S_1_i_0[1]") (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_3 "SM_8S_1_i_0[3]") (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_i_6 "SM_8S_1_i_i[6]") (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_a3_0_0 "SM_8S_1_i_0_a3_0[0]") (viewRef prim (cellRef XA1 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_a3_1_1 "SM_8S_1_i_0_a3_1[1]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_a3_3 "SM_8S_1_i_0_a3[3]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_i_a3_4 "SM_8S_1_i_i_a3[4]") (viewRef prim (cellRef OAI1 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_i_a3_6 "SM_8S_1_i_i_a3[6]") (viewRef prim (cellRef AO1B (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_i_a2_6 "SM_8S_1_i_i_a2[6]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_0 "SM_8S_1_i_0[0]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_0_i_2 "SM_8S_1_0_i[2]") (viewRef prim (cellRef AOI1 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_i_4 "SM_8S_1_i_i[4]") (viewRef prim (cellRef OAI1 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_0_0_5 "SM_8S_1_0_0[5]") (viewRef prim (cellRef OAI1 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_i_o2_4 "SM_8S_1_i_i_o2[4]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_i_x2_6 "SM_8S_1_i_i_x2[6]") (viewRef prim (cellRef XNOR2 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_0_0_o2_5 "SM_8S_1_0_0_o2[5]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_o2_1 "SM_8S_1_i_0_o2[1]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_o2_0 "SM_8S_1_i_0_o2[0]") (viewRef prim (cellRef XOR2 (libraryRef PA3)))          )
          (instance (rename SM_8S_1_0_i_o2_2 "SM_8S_1_0_i_o2[2]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_a3_0_1 "SM_8S_1_i_0_a3_0[1]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename SM_8S_1_i_0_a3_0 "SM_8S_1_i_0_a3[0]") (viewRef prim (cellRef NOR3C (libraryRef PA3)))          )
          (instance (rename SM_8S_RNO_7 "SM_8S_RNO[7]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance BI_N_pad_RNI5SO3 (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename SM_8S_7 "SM_8S[7]") (viewRef prim (cellRef DLN1P1C1 (libraryRef PA3)))
          )
          (instance (rename SM_8S_0 "SM_8S[0]") (viewRef prim (cellRef DLN0P1C1 (libraryRef PA3)))
          )
          (instance (rename SM_8S_1 "SM_8S[1]") (viewRef prim (cellRef DLN0P1C1 (libraryRef PA3)))
          )
          (instance (rename SM_8S_2 "SM_8S[2]") (viewRef prim (cellRef DLN0P1C1 (libraryRef PA3)))
          )
          (instance (rename SM_8S_3 "SM_8S[3]") (viewRef prim (cellRef DLN0P1C1 (libraryRef PA3)))
          )
          (instance (rename SM_8S_4 "SM_8S[4]") (viewRef prim (cellRef DLN0P1C1 (libraryRef PA3)))
          )
          (instance (rename SM_8S_5 "SM_8S[5]") (viewRef prim (cellRef DLN0P1C1 (libraryRef PA3)))
          )
          (instance (rename SM_8S_6 "SM_8S[6]") (viewRef prim (cellRef DLN0P1C1 (libraryRef PA3)))
          )
          (instance BI_N_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance LT_N_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_7 "Seg_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_6 "Seg_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_5 "Seg_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_4 "Seg_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_3 "Seg_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_2 "Seg_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_1 "Seg_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_0 "Seg_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_3 "A_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_2 "A_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_1 "A_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_0 "A_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename SM_8SZ0Z_7 "SM_8S[7]") (joined
           (portRef Q (instanceRef SM_8S_7))
           (portRef A (instanceRef Seg_pad_RNO_7))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef D (instanceRef SM_8S_7))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef G (instanceRef SM_8S_7))
          ))
          (net SM_8S58 (joined
           (portRef Y (instanceRef BI_N_pad_RNI5SO3))
           (portRef CLR (instanceRef SM_8S_6))
           (portRef CLR (instanceRef SM_8S_5))
           (portRef CLR (instanceRef SM_8S_4))
           (portRef CLR (instanceRef SM_8S_3))
           (portRef CLR (instanceRef SM_8S_2))
           (portRef CLR (instanceRef SM_8S_1))
           (portRef CLR (instanceRef SM_8S_0))
          ))
          (net (rename SM_8S_1_5 "SM_8S_1[5]") (joined
           (portRef Y (instanceRef SM_8S_1_0_0_5))
           (portRef D (instanceRef SM_8S_5))
          ))
          (net (rename SM_8S_1_i_0Z0Z_0 "SM_8S_1_i_0[0]") (joined
           (portRef Y (instanceRef SM_8S_1_i_0_0))
           (portRef D (instanceRef SM_8S_0))
          ))
          (net (rename SM_8S_1_i_0Z0Z_1 "SM_8S_1_i_0[1]") (joined
           (portRef Y (instanceRef SM_8S_1_i_0_1))
           (portRef D (instanceRef SM_8S_1))
          ))
          (net (rename SM_8S_1_i_0Z0Z_3 "SM_8S_1_i_0[3]") (joined
           (portRef Y (instanceRef SM_8S_1_i_0_3))
           (portRef D (instanceRef SM_8S_3))
          ))
          (net N_6 (joined
           (portRef Y (instanceRef SM_8S_1_0_i_2))
           (portRef D (instanceRef SM_8S_2))
          ))
          (net N_9 (joined
           (portRef Y (instanceRef SM_8S_1_i_i_4))
           (portRef D (instanceRef SM_8S_4))
          ))
          (net N_11 (joined
           (portRef Y (instanceRef SM_8S_1_i_i_6))
           (portRef D (instanceRef SM_8S_6))
          ))
          (net (rename A_c_0 "A_c[0]") (joined
           (portRef Y (instanceRef A_pad_0))
           (portRef A (instanceRef SM_8S_1_i_0_a3_0))
           (portRef A (instanceRef SM_8S_1_i_0_a3_0_1))
           (portRef A (instanceRef SM_8S_1_0_i_o2_2))
           (portRef A (instanceRef SM_8S_1_0_0_5))
           (portRef A (instanceRef SM_8S_1_i_i_4))
           (portRef B (instanceRef SM_8S_1_i_i_a2_6))
           (portRef B (instanceRef SM_8S_1_i_i_a3_6))
           (portRef A (instanceRef SM_8S_1_i_0_a3_3))
           (portRef A (instanceRef SM_8S_1_i_0_a3_0_0))
           (portRef C (instanceRef SM_8S_1_i_0_a3_0_3))
           (portRef B (instanceRef SM_8S_1_i_0_a3_1))
           (portRef A (instanceRef SM_8S_1_0_i_a3_0_1_2))
          ))
          (net (rename A_0 "A[0]") (joined
           (portRef (member a 3))
           (portRef PAD (instanceRef A_pad_0))
          ))
          (net (rename A_c_1 "A_c[1]") (joined
           (portRef Y (instanceRef A_pad_1))
           (portRef C (instanceRef SM_8S_1_i_0_a3_0_1))
           (portRef B (instanceRef SM_8S_1_0_i_o2_2))
           (portRef A (instanceRef SM_8S_1_i_0_o2_0))
           (portRef B (instanceRef SM_8S_1_i_0_o2_1))
           (portRef A (instanceRef SM_8S_1_0_0_o2_5))
           (portRef B (instanceRef SM_8S_1_i_i_o2_4))
           (portRef C (instanceRef SM_8S_1_i_i_a3_6))
           (portRef A (instanceRef SM_8S_1_i_i_a3_4))
           (portRef C (instanceRef SM_8S_1_i_0_a3_3))
          ))
          (net (rename A_1 "A[1]") (joined
           (portRef (member a 2))
           (portRef PAD (instanceRef A_pad_1))
          ))
          (net (rename A_c_2 "A_c[2]") (joined
           (portRef Y (instanceRef A_pad_2))
           (portRef B (instanceRef SM_8S_1_i_0_o2_0))
           (portRef B (instanceRef SM_8S_1_0_0_o2_5))
           (portRef A (instanceRef SM_8S_1_i_i_o2_4))
           (portRef A (instanceRef SM_8S_1_i_i_a3_6))
           (portRef B (instanceRef SM_8S_1_i_i_a3_4))
           (portRef B (instanceRef SM_8S_1_i_0_a3_3))
           (portRef B (instanceRef SM_8S_1_i_0_a3_0_0))
           (portRef B (instanceRef SM_8S_1_0_i_a3_2))
           (portRef A (instanceRef SM_8S_1_i_0_a3_1))
          ))
          (net (rename A_2 "A[2]") (joined
           (portRef (member a 1))
           (portRef PAD (instanceRef A_pad_2))
          ))
          (net (rename A_c_3 "A_c[3]") (joined
           (portRef Y (instanceRef A_pad_3))
           (portRef B (instanceRef SM_8S_1_i_0_a3_0))
           (portRef B (instanceRef SM_8S_1_i_0_a3_0_1))
           (portRef A (instanceRef SM_8S_1_i_0_o2_1))
           (portRef B (instanceRef SM_8S_1_i_i_x2_6))
           (portRef C (instanceRef SM_8S_1_i_i_a3_4))
           (portRef B (instanceRef SM_8S_1_i_0_a3_1_1))
           (portRef A (instanceRef SM_8S_1_i_0_a3_0_3))
           (portRef A (instanceRef SM_8S_1_0_i_a3_2))
           (portRef B (instanceRef SM_8S_1_0_i_a3_0_1_2))
          ))
          (net (rename A_3 "A[3]") (joined
           (portRef (member a 0))
           (portRef PAD (instanceRef A_pad_3))
          ))
          (net (rename SM_8S_c_0 "SM_8S_c[0]") (joined
           (portRef Q (instanceRef SM_8S_0))
           (portRef D (instanceRef Seg_pad_0))
          ))
          (net (rename Seg_0 "Seg[0]") (joined
           (portRef PAD (instanceRef Seg_pad_0))
           (portRef (member seg 7))
          ))
          (net (rename SM_8S_c_1 "SM_8S_c[1]") (joined
           (portRef Q (instanceRef SM_8S_1))
           (portRef D (instanceRef Seg_pad_1))
          ))
          (net (rename Seg_1 "Seg[1]") (joined
           (portRef PAD (instanceRef Seg_pad_1))
           (portRef (member seg 6))
          ))
          (net (rename SM_8S_c_2 "SM_8S_c[2]") (joined
           (portRef Q (instanceRef SM_8S_2))
           (portRef D (instanceRef Seg_pad_2))
          ))
          (net (rename Seg_2 "Seg[2]") (joined
           (portRef PAD (instanceRef Seg_pad_2))
           (portRef (member seg 5))
          ))
          (net (rename SM_8S_c_3 "SM_8S_c[3]") (joined
           (portRef Q (instanceRef SM_8S_3))
           (portRef D (instanceRef Seg_pad_3))
          ))
          (net (rename Seg_3 "Seg[3]") (joined
           (portRef PAD (instanceRef Seg_pad_3))
           (portRef (member seg 4))
          ))
          (net (rename SM_8S_c_4 "SM_8S_c[4]") (joined
           (portRef Q (instanceRef SM_8S_4))
           (portRef D (instanceRef Seg_pad_4))
          ))
          (net (rename Seg_4 "Seg[4]") (joined
           (portRef PAD (instanceRef Seg_pad_4))
           (portRef (member seg 3))
          ))
          (net (rename SM_8S_c_5 "SM_8S_c[5]") (joined
           (portRef Q (instanceRef SM_8S_5))
           (portRef D (instanceRef Seg_pad_5))
          ))
          (net (rename Seg_5 "Seg[5]") (joined
           (portRef PAD (instanceRef Seg_pad_5))
           (portRef (member seg 2))
          ))
          (net (rename SM_8S_c_6 "SM_8S_c[6]") (joined
           (portRef Q (instanceRef SM_8S_6))
           (portRef D (instanceRef Seg_pad_6))
          ))
          (net (rename Seg_6 "Seg[6]") (joined
           (portRef PAD (instanceRef Seg_pad_6))
           (portRef (member seg 1))
          ))
          (net (rename Seg_7 "Seg[7]") (joined
           (portRef PAD (instanceRef Seg_pad_7))
           (portRef (member seg 0))
          ))
          (net LT_N_c (joined
           (portRef Y (instanceRef LT_N_pad))
           (portRef A (instanceRef BI_N_pad_RNI5SO3))
           (portRef A (instanceRef LT_N_pad_RNIFIL2))
          ))
          (net LT_N (joined
           (portRef LT_N)
           (portRef PAD (instanceRef LT_N_pad))
          ))
          (net BI_N_c (joined
           (portRef Y (instanceRef BI_N_pad))
           (portRef B (instanceRef BI_N_pad_RNI5SO3))
           (portRef B (instanceRef SM_8S_RNO_7))
          ))
          (net BI_N (joined
           (portRef BI_N)
           (portRef PAD (instanceRef BI_N_pad))
          ))
          (net LE_c (joined
           (portRef Y (instanceRef LE_pad))
           (portRef G (instanceRef SM_8S_6))
           (portRef G (instanceRef SM_8S_5))
           (portRef G (instanceRef SM_8S_4))
           (portRef G (instanceRef SM_8S_3))
           (portRef G (instanceRef SM_8S_2))
           (portRef G (instanceRef SM_8S_1))
           (portRef G (instanceRef SM_8S_0))
           (portRef A (instanceRef SM_8S_RNO_7))
          ))
          (net LE (joined
           (portRef LE)
           (portRef PAD (instanceRef LE_pad))
          ))
          (net N_32 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_a3_0))
           (portRef B (instanceRef SM_8S_1_i_0_0))
          ))
          (net N_21 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_o2_0))
           (portRef C (instanceRef SM_8S_1_i_0_a3_0))
          ))
          (net N_47 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_a3_1))
           (portRef B (instanceRef SM_8S_1_i_0_1))
          ))
          (net N_19 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_o2_1))
           (portRef C (instanceRef SM_8S_1_i_0_a3_0_0))
           (portRef C (instanceRef SM_8S_1_i_0_a3_1))
          ))
          (net N_48 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_a3_0_1))
           (portRef A (instanceRef SM_8S_1_i_0_1))
          ))
          (net N_57 (joined
           (portRef Y (instanceRef SM_8S_1_0_i_a3_2))
           (portRef C (instanceRef SM_8S_1_0_i_2))
          ))
          (net N_23 (joined
           (portRef Y (instanceRef SM_8S_1_0_i_o2_2))
           (portRef C (instanceRef SM_8S_1_0_i_a3_2))
          ))
          (net N_18 (joined
           (portRef Y (instanceRef SM_8S_1_0_0_o2_5))
           (portRef B (instanceRef SM_8S_1_0_0_5))
           (portRef B (instanceRef SM_8S_1_0_i_2))
           (portRef B (instanceRef SM_8S_1_i_0_a3_0_3))
          ))
          (net N_60 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_a3_0_3))
           (portRef C (instanceRef SM_8S_1_i_0_3))
          ))
          (net N_55 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_a3_1_1))
           (portRef C (instanceRef SM_8S_1_i_0_1))
          ))
          (net N_33 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_a3_0_0))
           (portRef A (instanceRef SM_8S_1_i_0_0))
           (portRef B (instanceRef SM_8S_1_i_0_3))
          ))
          (net N_59 (joined
           (portRef Y (instanceRef SM_8S_1_i_0_a3_3))
           (portRef A (instanceRef SM_8S_1_i_0_3))
          ))
          (net N_67 (joined
           (portRef Y (instanceRef SM_8S_1_i_i_a2_6))
           (portRef A (instanceRef SM_8S_1_i_0_a3_1_1))
           (portRef C (instanceRef SM_8S_1_i_i_6))
          ))
          (net N_63 (joined
           (portRef Y (instanceRef SM_8S_1_i_i_a3_6))
           (portRef A (instanceRef SM_8S_1_i_i_6))
          ))
          (net N_16_i (joined
           (portRef Y (instanceRef SM_8S_1_i_i_x2_6))
           (portRef C (instanceRef SM_8S_1_0_0_5))
           (portRef B (instanceRef SM_8S_1_i_i_6))
          ))
          (net N_13 (joined
           (portRef Y (instanceRef SM_8S_1_i_i_o2_4))
           (portRef A (instanceRef SM_8S_1_i_i_x2_6))
           (portRef B (instanceRef SM_8S_1_i_i_4))
           (portRef A (instanceRef SM_8S_1_i_i_a2_6))
          ))
          (net N_61 (joined
           (portRef Y (instanceRef SM_8S_1_i_i_a3_4))
           (portRef C (instanceRef SM_8S_1_i_i_4))
          ))
          (net un1_BI_N_1_i (joined
           (portRef Y (instanceRef SM_8S_RNO_7))
           (portRef PRE (instanceRef SM_8S_7))
          ))
          (net (rename SM_8S_1_0_i_a3_0_0_2 "SM_8S_1_0_i_a3_0_0[2]") (joined
           (portRef Y (instanceRef SM_8S_1_0_i_a3_0_1_2))
           (portRef A (instanceRef SM_8S_1_0_i_2))
          ))
          (net LT_N_c_i (joined
           (portRef Y (instanceRef LT_N_pad_RNIFIL2))
           (portRef PRE (instanceRef SM_8S_6))
           (portRef PRE (instanceRef SM_8S_5))
           (portRef PRE (instanceRef SM_8S_4))
           (portRef PRE (instanceRef SM_8S_3))
           (portRef PRE (instanceRef SM_8S_2))
           (portRef PRE (instanceRef SM_8S_1))
           (portRef PRE (instanceRef SM_8S_0))
           (portRef CLR (instanceRef SM_8S_7))
          ))
          (net (rename SM_8S_i_7 "SM_8S_i[7]") (joined
           (portRef Y (instanceRef Seg_pad_RNO_7))
           (portRef D (instanceRef Seg_pad_7))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design HC4511 (cellRef HC4511 (libraryRef work)))
)
