(edif HC194
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 12 10 15 9 10)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell MX2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & !S) + (B & S)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port S (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell DFN1E0C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
           (port E (direction INPUT)
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell DFN1C0 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC194 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port MR (direction INPUT))
           (port (array (rename s "S[1:0]") 2) (direction INPUT))
           (port CP (direction INPUT)
 )
           (port DSR (direction INPUT))
           (port DSL (direction INPUT))
           (port (array (rename d "D[0:3]") 4) (direction INPUT))
           (port (array (rename q "Q[0:3]") 4) (direction OUTPUT))
         )
         (contents
          (instance CP_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance QAUX12 (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename QAUX_5_0_3 "QAUX_5_0[3]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename QAUX_5_0_0 "QAUX_5_0[0]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename QAUX_5_3 "QAUX_5[3]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance (rename QAUX_5_0 "QAUX_5[0]") (viewRef prim (cellRef MX2 (libraryRef PA3)))          )
          (instance QAUX_5_sn_m1 (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename QAUX_3 "QAUX[3]") (viewRef prim (cellRef DFN1E0C0 (libraryRef PA3)))
          )
          (instance (rename QAUX_2 "QAUX[2]") (viewRef prim (cellRef DFN1E0C0 (libraryRef PA3)))
          )
          (instance (rename QAUX_1 "QAUX[1]") (viewRef prim (cellRef DFN1E0C0 (libraryRef PA3)))
          )
          (instance (rename QAUX_0 "QAUX[0]") (viewRef prim (cellRef DFN1C0 (libraryRef PA3)))
          )
          (instance (rename Q_pad_0 "Q_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Q_pad_1 "Q_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Q_pad_2 "Q_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Q_pad_3 "Q_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename D_pad_0 "D_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename D_pad_1 "D_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename D_pad_2 "D_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename D_pad_3 "D_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance DSL_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance DSR_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename S_pad_1 "S_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename S_pad_0 "S_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance MR_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename QAUX_5Z0Z_0 "QAUX_5[0]") (joined
           (portRef Y (instanceRef QAUX_5_0))
           (portRef D (instanceRef QAUX_0))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net MR_c (joined
           (portRef Y (instanceRef MR_pad))
           (portRef CLR (instanceRef QAUX_0))
           (portRef CLR (instanceRef QAUX_1))
           (portRef CLR (instanceRef QAUX_2))
           (portRef CLR (instanceRef QAUX_3))
          ))
          (net MR (joined
           (portRef MR)
           (portRef PAD (instanceRef MR_pad))
          ))
          (net (rename S_c_0 "S_c[0]") (joined
           (portRef Y (instanceRef S_pad_0))
           (portRef B (instanceRef QAUX_5_sn_m1))
           (portRef S (instanceRef QAUX_5_0_0))
           (portRef S (instanceRef QAUX_5_0_3))
           (portRef B (instanceRef QAUX12))
          ))
          (net (rename S_0 "S[0]") (joined
           (portRef (member s 1))
           (portRef PAD (instanceRef S_pad_0))
          ))
          (net (rename S_c_1 "S_c[1]") (joined
           (portRef Y (instanceRef S_pad_1))
           (portRef A (instanceRef QAUX_5_sn_m1))
           (portRef A (instanceRef QAUX12))
          ))
          (net (rename S_1 "S[1]") (joined
           (portRef (member s 0))
           (portRef PAD (instanceRef S_pad_1))
          ))
          (net CP_c (joined
           (portRef Y (instanceRef CP_pad))
           (portRef CLK (instanceRef QAUX_0))
           (portRef CLK (instanceRef QAUX_1))
           (portRef CLK (instanceRef QAUX_2))
           (portRef CLK (instanceRef QAUX_3))
          ))
          (net CP (joined
           (portRef CP)
           (portRef PAD (instanceRef CP_pad))
          ))
          (net DSR_c (joined
           (portRef Y (instanceRef DSR_pad))
           (portRef B (instanceRef QAUX_5_0_0))
          ))
          (net DSR (joined
           (portRef DSR)
           (portRef PAD (instanceRef DSR_pad))
          ))
          (net DSL_c (joined
           (portRef Y (instanceRef DSL_pad))
           (portRef A (instanceRef QAUX_5_0_3))
          ))
          (net DSL (joined
           (portRef DSL)
           (portRef PAD (instanceRef DSL_pad))
          ))
          (net (rename D_c_3 "D_c[3]") (joined
           (portRef Y (instanceRef D_pad_3))
           (portRef A (instanceRef QAUX_5_3))
          ))
          (net (rename D_3 "D[3]") (joined
           (portRef (member d 3))
           (portRef PAD (instanceRef D_pad_3))
          ))
          (net (rename D_c_2 "D_c[2]") (joined
           (portRef Y (instanceRef D_pad_2))
           (portRef D (instanceRef QAUX_2))
          ))
          (net (rename D_2 "D[2]") (joined
           (portRef (member d 2))
           (portRef PAD (instanceRef D_pad_2))
          ))
          (net (rename D_c_1 "D_c[1]") (joined
           (portRef Y (instanceRef D_pad_1))
           (portRef D (instanceRef QAUX_1))
          ))
          (net (rename D_1 "D[1]") (joined
           (portRef (member d 1))
           (portRef PAD (instanceRef D_pad_1))
          ))
          (net (rename D_c_0 "D_c[0]") (joined
           (portRef Y (instanceRef D_pad_0))
           (portRef A (instanceRef QAUX_5_0))
          ))
          (net (rename D_0 "D[0]") (joined
           (portRef (member d 0))
           (portRef PAD (instanceRef D_pad_0))
          ))
          (net (rename QAUX_c_3 "QAUX_c[3]") (joined
           (portRef Q (instanceRef QAUX_3))
           (portRef D (instanceRef Q_pad_3))
           (portRef B (instanceRef QAUX_5_0_3))
          ))
          (net (rename Q_3 "Q[3]") (joined
           (portRef PAD (instanceRef Q_pad_3))
           (portRef (member q 3))
          ))
          (net (rename QAUX_c_2 "QAUX_c[2]") (joined
           (portRef Q (instanceRef QAUX_2))
           (portRef D (instanceRef Q_pad_2))
          ))
          (net (rename Q_2 "Q[2]") (joined
           (portRef PAD (instanceRef Q_pad_2))
           (portRef (member q 2))
          ))
          (net (rename QAUX_c_1 "QAUX_c[1]") (joined
           (portRef Q (instanceRef QAUX_1))
           (portRef D (instanceRef Q_pad_1))
          ))
          (net (rename Q_1 "Q[1]") (joined
           (portRef PAD (instanceRef Q_pad_1))
           (portRef (member q 1))
          ))
          (net (rename QAUX_c_0 "QAUX_c[0]") (joined
           (portRef Q (instanceRef QAUX_0))
           (portRef D (instanceRef Q_pad_0))
           (portRef A (instanceRef QAUX_5_0_0))
          ))
          (net (rename Q_0 "Q[0]") (joined
           (portRef PAD (instanceRef Q_pad_0))
           (portRef (member q 0))
          ))
          (net (rename QAUXZ0Z12 "QAUX12") (joined
           (portRef Y (instanceRef QAUX12))
           (portRef E (instanceRef QAUX_3))
          ))
          (net QAUX_5_sn_N_2 (joined
           (portRef Y (instanceRef QAUX_5_sn_m1))
           (portRef E (instanceRef QAUX_1))
           (portRef E (instanceRef QAUX_2))
           (portRef S (instanceRef QAUX_5_0))
           (portRef S (instanceRef QAUX_5_3))
          ))
          (net N_7 (joined
           (portRef Y (instanceRef QAUX_5_0_0))
           (portRef B (instanceRef QAUX_5_0))
          ))
          (net (rename QAUX_5Z0Z_3 "QAUX_5[3]") (joined
           (portRef Y (instanceRef QAUX_5_3))
           (portRef D (instanceRef QAUX_3))
          ))
          (net N_6 (joined
           (portRef Y (instanceRef QAUX_5_0_3))
           (portRef B (instanceRef QAUX_5_3))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design HC194 (cellRef HC194 (libraryRef work)))
)
