(edif HC148
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 28 22 36 4)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell OR3B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!C & (A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A + B) & C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell AO1D (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A & !B) + C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell AO1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC148 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename datain "DataIn[7:0]") 8) (direction INPUT))
           (port EO (direction OUTPUT))
           (port (array (rename dataout "Dataout[2:0]") 3) (direction OUTPUT))
           (port EI (direction INPUT))
           (port GS (direction OUTPUT))
         )
         (contents
          (instance (rename Dataout_i_a2_0_0_1 "Dataout_i_a2_0_0[1]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNIHCQP_2 "DataIn_pad_RNIHCQP[2]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNIJEJ8_0 "DataIn_pad_RNIJEJ8[0]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename Dataout_i_a2_0_0_0 "Dataout_i_a2_0_0[0]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename Dataout_i_a2_0 "Dataout_i_a2[0]") (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance (rename Dataout_i_0 "Dataout_i[0]") (viewRef prim (cellRef NOR3 (libraryRef PA3)))          )
          (instance (rename Dataout_i_a2_1_0 "Dataout_i_a2_1[0]") (viewRef prim (cellRef NOR3A (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNIVEJ8_7 "DataIn_pad_RNIVEJ8[7]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNIREJ8_4 "DataIn_pad_RNIREJ8[4]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNINEJ8_2 "DataIn_pad_RNINEJ8[2]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename Dataout_i_o2_0 "Dataout_i_o2[0]") (viewRef prim (cellRef OA1A (libraryRef PA3)))          )
          (instance (rename Dataout_i_1 "Dataout_i[1]") (viewRef prim (cellRef OA1B (libraryRef PA3)))          )
          (instance (rename Dataout_i_a2_2 "Dataout_i_a2[2]") (viewRef prim (cellRef AO1D (libraryRef PA3)))          )
          (instance (rename Dataout_i_a2_0_1 "Dataout_i_a2_0[1]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Dataout_i_a2_0_0 "Dataout_i_a2_0[0]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance GS_pad_RNO (viewRef prim (cellRef AO1 (libraryRef PA3)))          )
          (instance (rename local_Dataout62 "local.Dataout62") (viewRef prim (cellRef OR3B (libraryRef PA3)))          )
          (instance GS_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance EI_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_2 "Dataout_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_1 "Dataout_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_0 "Dataout_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance EO_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_7 "DataIn_pad[7]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_6 "DataIn_pad[6]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_5 "DataIn_pad[5]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_4 "DataIn_pad[4]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_3 "DataIn_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_2 "DataIn_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_1 "DataIn_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_0 "DataIn_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename local_DataoutZ0Z62 "local.Dataout62") (joined
           (portRef Y (instanceRef local_Dataout62))
           (portRef D (instanceRef EO_pad))
          ))
          (net (rename Dataout_iZ0Z_0 "Dataout_i[0]") (joined
           (portRef Y (instanceRef Dataout_i_0))
           (portRef D (instanceRef Dataout_pad_0))
          ))
          (net (rename Dataout_iZ0Z_1 "Dataout_i[1]") (joined
           (portRef Y (instanceRef Dataout_i_1))
           (portRef D (instanceRef Dataout_pad_1))
          ))
          (net (rename Dataout_i_a2Z0Z_2 "Dataout_i_a2[2]") (joined
           (portRef Y (instanceRef Dataout_i_a2_2))
           (portRef D (instanceRef Dataout_pad_2))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net N_52 (joined
           (portRef Y (instanceRef Dataout_i_a2_0_0))
           (portRef A (instanceRef Dataout_i_0))
          ))
          (net N_53 (joined
           (portRef Y (instanceRef Dataout_i_a2_1_0))
           (portRef C (instanceRef Dataout_i_0))
          ))
          (net N_55 (joined
           (portRef Y (instanceRef Dataout_i_a2_0_1))
           (portRef C (instanceRef Dataout_i_1))
          ))
          (net N_51 (joined
           (portRef Y (instanceRef Dataout_i_a2_0))
           (portRef B (instanceRef Dataout_i_0))
          ))
          (net N_49 (joined
           (portRef Y (instanceRef Dataout_i_o2_0))
           (portRef A (instanceRef Dataout_i_a2_0))
          ))
          (net (rename local_un1_DataIn_2 "local.un1_DataIn_2") (joined
           (portRef Y (instanceRef DataIn_pad_RNINEJ8_2))
           (portRef A (instanceRef DataIn_pad_RNIHCQP_2))
           (portRef B (instanceRef Dataout_i_a2_0_0_1))
          ))
          (net (rename local_un1_DataIn_3 "local.un1_DataIn_3") (joined
           (portRef Y (instanceRef DataIn_pad_RNIREJ8_4))
           (portRef B (instanceRef Dataout_i_a2_2))
           (portRef A (instanceRef Dataout_i_1))
           (portRef B (instanceRef DataIn_pad_RNIHCQP_2))
          ))
          (net (rename local_un1_DataIn_4 "local.un1_DataIn_4") (joined
           (portRef Y (instanceRef DataIn_pad_RNIVEJ8_7))
           (portRef A (instanceRef Dataout_i_a2_0_1))
           (portRef A (instanceRef Dataout_i_a2_2))
           (portRef C (instanceRef DataIn_pad_RNIHCQP_2))
          ))
          (net (rename DataIn_c_0 "DataIn_c[0]") (joined
           (portRef Y (instanceRef DataIn_pad_0))
           (portRef A (instanceRef DataIn_pad_RNIJEJ8_0))
          ))
          (net (rename DataIn_0 "DataIn[0]") (joined
           (portRef (member datain 7))
           (portRef PAD (instanceRef DataIn_pad_0))
          ))
          (net (rename DataIn_c_1 "DataIn_c[1]") (joined
           (portRef Y (instanceRef DataIn_pad_1))
           (portRef B (instanceRef Dataout_i_o2_0))
           (portRef B (instanceRef DataIn_pad_RNIJEJ8_0))
          ))
          (net (rename DataIn_1 "DataIn[1]") (joined
           (portRef (member datain 6))
           (portRef PAD (instanceRef DataIn_pad_1))
          ))
          (net (rename DataIn_c_2 "DataIn_c[2]") (joined
           (portRef Y (instanceRef DataIn_pad_2))
           (portRef A (instanceRef Dataout_i_o2_0))
           (portRef B (instanceRef DataIn_pad_RNINEJ8_2))
          ))
          (net (rename DataIn_2 "DataIn[2]") (joined
           (portRef (member datain 5))
           (portRef PAD (instanceRef DataIn_pad_2))
          ))
          (net (rename DataIn_c_3 "DataIn_c[3]") (joined
           (portRef Y (instanceRef DataIn_pad_3))
           (portRef C (instanceRef Dataout_i_o2_0))
           (portRef A (instanceRef DataIn_pad_RNINEJ8_2))
          ))
          (net (rename DataIn_3 "DataIn[3]") (joined
           (portRef (member datain 4))
           (portRef PAD (instanceRef DataIn_pad_3))
          ))
          (net (rename DataIn_c_4 "DataIn_c[4]") (joined
           (portRef Y (instanceRef DataIn_pad_4))
           (portRef B (instanceRef DataIn_pad_RNIREJ8_4))
           (portRef A (instanceRef Dataout_i_a2_0_0_0))
          ))
          (net (rename DataIn_4 "DataIn[4]") (joined
           (portRef (member datain 3))
           (portRef PAD (instanceRef DataIn_pad_4))
          ))
          (net (rename DataIn_c_5 "DataIn_c[5]") (joined
           (portRef Y (instanceRef DataIn_pad_5))
           (portRef A (instanceRef DataIn_pad_RNIREJ8_4))
           (portRef B (instanceRef Dataout_i_a2_1_0))
          ))
          (net (rename DataIn_5 "DataIn[5]") (joined
           (portRef (member datain 2))
           (portRef PAD (instanceRef DataIn_pad_5))
          ))
          (net (rename DataIn_c_6 "DataIn_c[6]") (joined
           (portRef Y (instanceRef DataIn_pad_6))
           (portRef B (instanceRef DataIn_pad_RNIVEJ8_7))
           (portRef A (instanceRef Dataout_i_a2_1_0))
           (portRef B (instanceRef Dataout_i_a2_0_0_0))
          ))
          (net (rename DataIn_6 "DataIn[6]") (joined
           (portRef (member datain 1))
           (portRef PAD (instanceRef DataIn_pad_6))
          ))
          (net (rename DataIn_c_7 "DataIn_c[7]") (joined
           (portRef Y (instanceRef DataIn_pad_7))
           (portRef B (instanceRef Dataout_i_a2_0_0))
           (portRef A (instanceRef DataIn_pad_RNIVEJ8_7))
          ))
          (net (rename DataIn_7 "DataIn[7]") (joined
           (portRef (member datain 0))
           (portRef PAD (instanceRef DataIn_pad_7))
          ))
          (net EO (joined
           (portRef PAD (instanceRef EO_pad))
           (portRef EO)
          ))
          (net (rename Dataout_0 "Dataout[0]") (joined
           (portRef PAD (instanceRef Dataout_pad_0))
           (portRef (member dataout 2))
          ))
          (net (rename Dataout_1 "Dataout[1]") (joined
           (portRef PAD (instanceRef Dataout_pad_1))
           (portRef (member dataout 1))
          ))
          (net (rename Dataout_2 "Dataout[2]") (joined
           (portRef PAD (instanceRef Dataout_pad_2))
           (portRef (member dataout 0))
          ))
          (net EI_c (joined
           (portRef Y (instanceRef EI_pad))
           (portRef C (instanceRef local_Dataout62))
           (portRef C (instanceRef GS_pad_RNO))
           (portRef A (instanceRef Dataout_i_a2_0_0))
           (portRef B (instanceRef Dataout_i_a2_0_1))
           (portRef C (instanceRef Dataout_i_a2_2))
           (portRef C (instanceRef Dataout_i_a2_1_0))
           (portRef B (instanceRef Dataout_i_a2_0))
           (portRef A (instanceRef Dataout_i_a2_0_0_1))
          ))
          (net EI (joined
           (portRef EI)
           (portRef PAD (instanceRef EI_pad))
          ))
          (net GS_c (joined
           (portRef Y (instanceRef GS_pad_RNO))
           (portRef D (instanceRef GS_pad))
          ))
          (net GS (joined
           (portRef PAD (instanceRef GS_pad))
           (portRef GS)
          ))
          (net (rename Dataout_i_a2_0Z0Z_0 "Dataout_i_a2_0[0]") (joined
           (portRef Y (instanceRef Dataout_i_a2_0_0_0))
           (portRef C (instanceRef Dataout_i_a2_0))
          ))
          (net (rename local_un1_DataIn_0 "local.un1_DataIn_0") (joined
           (portRef Y (instanceRef DataIn_pad_RNIJEJ8_0))
           (portRef A (instanceRef local_Dataout62))
           (portRef B (instanceRef GS_pad_RNO))
          ))
          (net (rename local_un1_DataIn_1 "local.un1_DataIn_1") (joined
           (portRef Y (instanceRef DataIn_pad_RNIHCQP_2))
           (portRef B (instanceRef local_Dataout62))
           (portRef A (instanceRef GS_pad_RNO))
          ))
          (net (rename Dataout_i_a2_0Z0Z_1 "Dataout_i_a2_0[1]") (joined
           (portRef Y (instanceRef Dataout_i_a2_0_0_1))
           (portRef B (instanceRef Dataout_i_1))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design HC148 (cellRef HC148 (libraryRef work)))
)
