(edif dymamic_led
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2014 1 4 9 31 33)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell DFN1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
         )
        (property is_ff (integer 1))
       )
    )
    (cell CLKBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_type (string "clock"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell dymamic_led (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename seg "Seg[7:0]") 8) (direction OUTPUT))
           (port (array (rename sl "Sl[3:0]") 4) (direction OUTPUT))
           (port Clk (direction INPUT)
 )
           (port Reset (direction INPUT))
         )
         (contents
          (instance Clk_pad (viewRef prim (cellRef CLKBUF (libraryRef PA3)))
          )
          (instance (rename count_RNO_0 "count_RNO[0]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Sl_pad_RNO_0 "Sl_pad_RNO[0]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename count_RNIGLH7_1 "count_RNIGLH7[1]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename count_RNIV63F_0_0 "count_RNIV63F_0[0]") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance (rename count_RNIV63F_0 "count_RNIV63F[0]") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance (rename count_RNIV63F_1_0 "count_RNIV63F_1[0]") (viewRef prim (cellRef NOR2 (libraryRef PA3)))          )
          (instance (rename Sl_pad_RNO_3 "Sl_pad_RNO[3]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance un3_count_1_SUM1_0 (viewRef prim (cellRef XOR2 (libraryRef PA3)))          )
          (instance (rename count_0 "count[0]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance (rename count_1 "count[1]") (viewRef prim (cellRef DFN1C1 (libraryRef PA3)))
          )
          (instance Reset_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename Sl_pad_3 "Sl_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Sl_pad_2 "Sl_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Sl_pad_1 "Sl_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Sl_pad_0 "Sl_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_7 "Seg_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_6 "Seg_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_5 "Seg_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_4 "Seg_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_3 "Seg_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_2 "Seg_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_1 "Seg_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Seg_pad_0 "Seg_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net (rename countZ0Z_0 "count[0]") (joined
           (portRef Q (instanceRef count_0))
           (portRef B (instanceRef un3_count_1_SUM1_0))
           (portRef B (instanceRef Sl_pad_RNO_3))
           (portRef B (instanceRef count_RNIV63F_1_0))
           (portRef A (instanceRef count_RNIV63F_0))
           (portRef B (instanceRef count_RNIV63F_0_0))
           (portRef A (instanceRef count_RNO_0))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
           (portRef D (instanceRef Seg_pad_1))
          ))
          (net Disp_dat13 (joined
           (portRef Y (instanceRef Sl_pad_RNO_3))
           (portRef D (instanceRef Sl_pad_3))
          ))
          (net Disp_dat10 (joined
           (portRef Y (instanceRef count_RNIV63F_1_0))
           (portRef D (instanceRef Seg_pad_5))
           (portRef A (instanceRef Sl_pad_RNO_0))
          ))
          (net Disp_dat11 (joined
           (portRef Y (instanceRef count_RNIV63F_0))
           (portRef D (instanceRef Seg_pad_2))
           (portRef D (instanceRef Sl_pad_1))
          ))
          (net Disp_dat12 (joined
           (portRef Y (instanceRef count_RNIV63F_0_0))
           (portRef D (instanceRef Seg_pad_0))
           (portRef D (instanceRef Sl_pad_2))
          ))
          (net SUM1_0 (joined
           (portRef Y (instanceRef un3_count_1_SUM1_0))
           (portRef D (instanceRef count_1))
          ))
          (net (rename Seg_0 "Seg[0]") (joined
           (portRef PAD (instanceRef Seg_pad_0))
           (portRef (member seg 7))
          ))
          (net (rename Seg_1 "Seg[1]") (joined
           (portRef PAD (instanceRef Seg_pad_1))
           (portRef (member seg 6))
          ))
          (net (rename Seg_2 "Seg[2]") (joined
           (portRef PAD (instanceRef Seg_pad_2))
           (portRef (member seg 5))
          ))
          (net (rename Seg_3 "Seg[3]") (joined
           (portRef PAD (instanceRef Seg_pad_3))
           (portRef (member seg 4))
          ))
          (net (rename Seg_4 "Seg[4]") (joined
           (portRef PAD (instanceRef Seg_pad_4))
           (portRef (member seg 3))
          ))
          (net (rename Seg_5 "Seg[5]") (joined
           (portRef PAD (instanceRef Seg_pad_5))
           (portRef (member seg 2))
          ))
          (net (rename Seg_6 "Seg[6]") (joined
           (portRef PAD (instanceRef Seg_pad_6))
           (portRef (member seg 1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
           (portRef D (instanceRef Seg_pad_7))
          ))
          (net (rename Seg_7 "Seg[7]") (joined
           (portRef PAD (instanceRef Seg_pad_7))
           (portRef (member seg 0))
          ))
          (net (rename Sl_0 "Sl[0]") (joined
           (portRef PAD (instanceRef Sl_pad_0))
           (portRef (member sl 3))
          ))
          (net (rename Sl_1 "Sl[1]") (joined
           (portRef PAD (instanceRef Sl_pad_1))
           (portRef (member sl 2))
          ))
          (net (rename Sl_2 "Sl[2]") (joined
           (portRef PAD (instanceRef Sl_pad_2))
           (portRef (member sl 1))
          ))
          (net (rename Sl_3 "Sl[3]") (joined
           (portRef PAD (instanceRef Sl_pad_3))
           (portRef (member sl 0))
          ))
          (net Clk_c (joined
           (portRef Y (instanceRef Clk_pad))
           (portRef CLK (instanceRef count_1))
           (portRef CLK (instanceRef count_0))
          ))
          (net Clk (joined
           (portRef Clk)
           (portRef PAD (instanceRef Clk_pad))
          ))
          (net Reset_c (joined
           (portRef Y (instanceRef Reset_pad))
           (portRef CLR (instanceRef count_1))
           (portRef CLR (instanceRef count_0))
          ))
          (net Reset (joined
           (portRef Reset)
           (portRef PAD (instanceRef Reset_pad))
          ))
          (net (rename countZ0Z_1 "count[1]") (joined
           (portRef Q (instanceRef count_1))
           (portRef A (instanceRef un3_count_1_SUM1_0))
           (portRef A (instanceRef Sl_pad_RNO_3))
           (portRef A (instanceRef count_RNIV63F_1_0))
           (portRef B (instanceRef count_RNIV63F_0))
           (portRef A (instanceRef count_RNIV63F_0_0))
           (portRef A (instanceRef count_RNIGLH7_1))
          ))
          (net (rename count_i_1 "count_i[1]") (joined
           (portRef Y (instanceRef count_RNIGLH7_1))
           (portRef D (instanceRef Seg_pad_3))
           (portRef D (instanceRef Seg_pad_4))
           (portRef D (instanceRef Seg_pad_6))
          ))
          (net Disp_dat10_i (joined
           (portRef Y (instanceRef Sl_pad_RNO_0))
           (portRef D (instanceRef Sl_pad_0))
          ))
          (net (rename count_i_0 "count_i[0]") (joined
           (portRef Y (instanceRef count_RNO_0))
           (portRef D (instanceRef count_0))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design dymamic_led (cellRef dymamic_led (libraryRef work)))
)
