(edif HC283
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 29 13 5 10)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A ^ B ^ C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell MAJ3 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(A & B) + (B & C) + (A & C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC283 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename sum "sum[3:0]") 4) (direction OUTPUT))
           (port cout (direction OUTPUT))
           (port (array (rename a "a[3:0]") 4) (direction INPUT))
           (port (array (rename b "b[3:0]") 4) (direction INPUT))
           (port cin (direction INPUT))
           (port (array (rename shiftedcarry "shiftedcarry[4:0]") 5) (direction OUTPUT))
         )
         (contents
          (instance (rename carry_generation_carrychain_2_1_SUM0_0 "carry_generation.carrychain_2_1_SUM0_0") (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance (rename carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_S_0 "carry_generation.carrychain_3_0_0_ADD_5x5_slow_I4_S_0") (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance (rename carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_S_0 "carry_generation.carrychain_3_0_0_ADD_5x5_slow_I2_S_0") (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance (rename carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_S_0 "carry_generation.carrychain_3_0_0_ADD_5x5_slow_I0_S_0") (viewRef prim (cellRef XOR3 (libraryRef PA3)))          )
          (instance (rename carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_un1_CO1_i_o3 "carry_generation.carrychain_3_0_0_ADD_5x5_slow_I2_un1_CO1_i_o3") (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance (rename carry_generation_carrychain_2_1_CO0_i "carry_generation.carrychain_2_1_CO0_i") (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance (rename carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_un1_CO1_i "carry_generation.carrychain_3_0_0_ADD_5x5_slow_I0_un1_CO1_i") (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance (rename carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_un1_CO1_i "carry_generation.carrychain_3_0_0_ADD_5x5_slow_I4_un1_CO1_i") (viewRef prim (cellRef MAJ3 (libraryRef PA3)))          )
          (instance (rename shiftedcarry_pad_4 "shiftedcarry_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename shiftedcarry_pad_3 "shiftedcarry_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename shiftedcarry_pad_2 "shiftedcarry_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename shiftedcarry_pad_1 "shiftedcarry_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename shiftedcarry_pad_0 "shiftedcarry_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance cin_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename b_pad_3 "b_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename b_pad_2 "b_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename b_pad_1 "b_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename b_pad_0 "b_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename a_pad_3 "a_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename a_pad_2 "a_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename a_pad_1 "a_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename a_pad_0 "a_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance cout_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename sum_pad_3 "sum_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename sum_pad_2 "sum_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename sum_pad_1 "sum_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename sum_pad_0 "sum_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net ADD_5x5_slow_I0_un1_CO1_i (joined
           (portRef Y (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_un1_CO1_i))
           (portRef D (instanceRef shiftedcarry_pad_2))
           (portRef A (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_un1_CO1_i_o3))
           (portRef B (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_S_0))
          ))
          (net N_5 (joined
           (portRef Y (instanceRef carry_generation_carrychain_2_1_CO0_i))
           (portRef D (instanceRef shiftedcarry_pad_1))
           (portRef A (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_un1_CO1_i))
           (portRef B (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_S_0))
          ))
          (net (rename carry_generation_carrychain_3_0_0_N_7 "carry_generation.carrychain_3_0_0.N_7") (joined
           (portRef Y (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_un1_CO1_i))
           (portRef D (instanceRef cout_pad))
           (portRef D (instanceRef shiftedcarry_pad_4))
          ))
          (net (rename sum_c_0 "sum_c[0]") (joined
           (portRef Y (instanceRef carry_generation_carrychain_2_1_SUM0_0))
           (portRef D (instanceRef sum_pad_0))
          ))
          (net (rename sum_0 "sum[0]") (joined
           (portRef PAD (instanceRef sum_pad_0))
           (portRef (member sum 3))
          ))
          (net (rename sum_c_1 "sum_c[1]") (joined
           (portRef Y (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_S_0))
           (portRef D (instanceRef sum_pad_1))
          ))
          (net (rename sum_1 "sum[1]") (joined
           (portRef PAD (instanceRef sum_pad_1))
           (portRef (member sum 2))
          ))
          (net (rename sum_c_2 "sum_c[2]") (joined
           (portRef Y (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_S_0))
           (portRef D (instanceRef sum_pad_2))
          ))
          (net (rename sum_2 "sum[2]") (joined
           (portRef PAD (instanceRef sum_pad_2))
           (portRef (member sum 1))
          ))
          (net (rename sum_c_3 "sum_c[3]") (joined
           (portRef Y (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_S_0))
           (portRef D (instanceRef sum_pad_3))
          ))
          (net (rename sum_3 "sum[3]") (joined
           (portRef PAD (instanceRef sum_pad_3))
           (portRef (member sum 0))
          ))
          (net cout (joined
           (portRef PAD (instanceRef cout_pad))
           (portRef cout)
          ))
          (net (rename a_c_0 "a_c[0]") (joined
           (portRef Y (instanceRef a_pad_0))
           (portRef A (instanceRef carry_generation_carrychain_2_1_CO0_i))
           (portRef B (instanceRef carry_generation_carrychain_2_1_SUM0_0))
          ))
          (net (rename a_0 "a[0]") (joined
           (portRef (member a 3))
           (portRef PAD (instanceRef a_pad_0))
          ))
          (net (rename a_c_1 "a_c[1]") (joined
           (portRef Y (instanceRef a_pad_1))
           (portRef C (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_un1_CO1_i))
           (portRef A (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_S_0))
          ))
          (net (rename a_1 "a[1]") (joined
           (portRef (member a 2))
           (portRef PAD (instanceRef a_pad_1))
          ))
          (net (rename a_c_2 "a_c[2]") (joined
           (portRef Y (instanceRef a_pad_2))
           (portRef B (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_un1_CO1_i_o3))
           (portRef A (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_S_0))
          ))
          (net (rename a_2 "a[2]") (joined
           (portRef (member a 1))
           (portRef PAD (instanceRef a_pad_2))
          ))
          (net (rename a_c_3 "a_c[3]") (joined
           (portRef Y (instanceRef a_pad_3))
           (portRef A (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_un1_CO1_i))
           (portRef A (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_S_0))
          ))
          (net (rename a_3 "a[3]") (joined
           (portRef (member a 0))
           (portRef PAD (instanceRef a_pad_3))
          ))
          (net (rename b_c_0 "b_c[0]") (joined
           (portRef Y (instanceRef b_pad_0))
           (portRef C (instanceRef carry_generation_carrychain_2_1_CO0_i))
           (portRef A (instanceRef carry_generation_carrychain_2_1_SUM0_0))
          ))
          (net (rename b_0 "b[0]") (joined
           (portRef (member b 3))
           (portRef PAD (instanceRef b_pad_0))
          ))
          (net (rename b_c_1 "b_c[1]") (joined
           (portRef Y (instanceRef b_pad_1))
           (portRef B (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_un1_CO1_i))
           (portRef C (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I0_S_0))
          ))
          (net (rename b_1 "b[1]") (joined
           (portRef (member b 2))
           (portRef PAD (instanceRef b_pad_1))
          ))
          (net (rename b_c_2 "b_c[2]") (joined
           (portRef Y (instanceRef b_pad_2))
           (portRef C (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_un1_CO1_i_o3))
           (portRef C (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_S_0))
          ))
          (net (rename b_2 "b[2]") (joined
           (portRef (member b 1))
           (portRef PAD (instanceRef b_pad_2))
          ))
          (net (rename b_c_3 "b_c[3]") (joined
           (portRef Y (instanceRef b_pad_3))
           (portRef B (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_un1_CO1_i))
           (portRef C (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_S_0))
          ))
          (net (rename b_3 "b[3]") (joined
           (portRef (member b 0))
           (portRef PAD (instanceRef b_pad_3))
          ))
          (net cin (joined
           (portRef cin)
           (portRef PAD (instanceRef cin_pad))
          ))
          (net cin_c_c (joined
           (portRef Y (instanceRef cin_pad))
           (portRef D (instanceRef shiftedcarry_pad_0))
           (portRef B (instanceRef carry_generation_carrychain_2_1_CO0_i))
           (portRef C (instanceRef carry_generation_carrychain_2_1_SUM0_0))
          ))
          (net (rename shiftedcarry_0 "shiftedcarry[0]") (joined
           (portRef PAD (instanceRef shiftedcarry_pad_0))
           (portRef (member shiftedcarry 4))
          ))
          (net (rename shiftedcarry_1 "shiftedcarry[1]") (joined
           (portRef PAD (instanceRef shiftedcarry_pad_1))
           (portRef (member shiftedcarry 3))
          ))
          (net (rename shiftedcarry_2 "shiftedcarry[2]") (joined
           (portRef PAD (instanceRef shiftedcarry_pad_2))
           (portRef (member shiftedcarry 2))
          ))
          (net N_38_i_0_c (joined
           (portRef Y (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I2_un1_CO1_i_o3))
           (portRef D (instanceRef shiftedcarry_pad_3))
           (portRef C (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_un1_CO1_i))
           (portRef B (instanceRef carry_generation_carrychain_3_0_0_ADD_5x5_slow_I4_S_0))
          ))
          (net (rename shiftedcarry_3 "shiftedcarry[3]") (joined
           (portRef PAD (instanceRef shiftedcarry_pad_3))
           (portRef (member shiftedcarry 1))
          ))
          (net (rename shiftedcarry_4 "shiftedcarry[4]") (joined
           (portRef PAD (instanceRef shiftedcarry_pad_4))
           (portRef (member shiftedcarry 0))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design HC283 (cellRef HC283 (libraryRef work)))
)
