(edif HC138
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 29 5 49 32)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell OR3C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B + !C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1C (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "(!A + B) & !C"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell OA1B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!C & (A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + !B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell AOI1 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B + C)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
           (port C (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC138 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename datain "DataIn[2:0]") 3) (direction INPUT))
           (port (array (rename dataout "Dataout[7:0]") 8) (direction OUTPUT))
           (port G1 (direction INPUT))
           (port G2AN (direction INPUT))
           (port G2BN (direction INPUT))
         )
         (contents
          (instance (rename Dataout_pad_RNO_0_6 "Dataout_pad_RNO_0[6]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_0_5 "Dataout_pad_RNO_0[5]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_0_4 "Dataout_pad_RNO_0[4]") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_0_2 "Dataout_pad_RNO_0[2]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_0_1 "Dataout_pad_RNO_0[1]") (viewRef prim (cellRef OR2A (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_0_0 "Dataout_pad_RNO_0[0]") (viewRef prim (cellRef OR2 (libraryRef PA3)))          )
          (instance G2AN_pad_RNIRL86 (viewRef prim (cellRef OR3C (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_0 "Dataout_pad_RNO[0]") (viewRef prim (cellRef OA1B (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_1 "Dataout_pad_RNO[1]") (viewRef prim (cellRef OA1B (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_2 "Dataout_pad_RNO[2]") (viewRef prim (cellRef OA1C (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_3 "Dataout_pad_RNO[3]") (viewRef prim (cellRef OA1C (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_4 "Dataout_pad_RNO[4]") (viewRef prim (cellRef OA1B (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_5 "Dataout_pad_RNO[5]") (viewRef prim (cellRef OA1B (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_6 "Dataout_pad_RNO[6]") (viewRef prim (cellRef OA1C (libraryRef PA3)))          )
          (instance (rename Dataout_pad_RNO_7 "Dataout_pad_RNO[7]") (viewRef prim (cellRef AOI1 (libraryRef PA3)))          )
          (instance (rename DataIn_pad_RNIJEJ8_0 "DataIn_pad_RNIJEJ8[0]") (viewRef prim (cellRef NOR2B (libraryRef PA3)))          )
          (instance G2BN_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance G2AN_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance G1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_7 "Dataout_pad[7]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_6 "Dataout_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_5 "Dataout_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_4 "Dataout_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_3 "Dataout_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_2 "Dataout_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_1 "Dataout_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Dataout_pad_0 "Dataout_pad[0]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_2 "DataIn_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_1 "DataIn_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename DataIn_pad_0 "DataIn_pad[0]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename DataIn_c_0 "DataIn_c[0]") (joined
           (portRef Y (instanceRef DataIn_pad_0))
           (portRef B (instanceRef DataIn_pad_RNIJEJ8_0))
           (portRef B (instanceRef Dataout_pad_RNO_6))
           (portRef A (instanceRef Dataout_pad_RNO_0_0))
           (portRef A (instanceRef Dataout_pad_RNO_0_1))
           (portRef B (instanceRef Dataout_pad_RNO_0_2))
           (portRef B (instanceRef Dataout_pad_RNO_0_4))
           (portRef A (instanceRef Dataout_pad_RNO_0_5))
          ))
          (net (rename DataIn_0 "DataIn[0]") (joined
           (portRef (member datain 2))
           (portRef PAD (instanceRef DataIn_pad_0))
          ))
          (net (rename DataIn_c_1 "DataIn_c[1]") (joined
           (portRef Y (instanceRef DataIn_pad_1))
           (portRef A (instanceRef DataIn_pad_RNIJEJ8_0))
           (portRef A (instanceRef Dataout_pad_RNO_5))
           (portRef A (instanceRef Dataout_pad_RNO_4))
           (portRef B (instanceRef Dataout_pad_RNO_0_0))
           (portRef B (instanceRef Dataout_pad_RNO_0_1))
           (portRef A (instanceRef Dataout_pad_RNO_0_2))
           (portRef A (instanceRef Dataout_pad_RNO_0_6))
          ))
          (net (rename DataIn_1 "DataIn[1]") (joined
           (portRef (member datain 1))
           (portRef PAD (instanceRef DataIn_pad_1))
          ))
          (net (rename DataIn_c_2 "DataIn_c[2]") (joined
           (portRef Y (instanceRef DataIn_pad_2))
           (portRef B (instanceRef Dataout_pad_RNO_7))
           (portRef B (instanceRef Dataout_pad_RNO_3))
           (portRef B (instanceRef Dataout_pad_RNO_2))
           (portRef A (instanceRef Dataout_pad_RNO_1))
           (portRef A (instanceRef Dataout_pad_RNO_0))
           (portRef A (instanceRef Dataout_pad_RNO_0_4))
           (portRef B (instanceRef Dataout_pad_RNO_0_5))
           (portRef B (instanceRef Dataout_pad_RNO_0_6))
          ))
          (net (rename DataIn_2 "DataIn[2]") (joined
           (portRef (member datain 0))
           (portRef PAD (instanceRef DataIn_pad_2))
          ))
          (net (rename Dataout_c_0 "Dataout_c[0]") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_0))
           (portRef D (instanceRef Dataout_pad_0))
          ))
          (net (rename Dataout_0 "Dataout[0]") (joined
           (portRef PAD (instanceRef Dataout_pad_0))
           (portRef (member dataout 7))
          ))
          (net (rename Dataout_c_1 "Dataout_c[1]") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_1))
           (portRef D (instanceRef Dataout_pad_1))
          ))
          (net (rename Dataout_1 "Dataout[1]") (joined
           (portRef PAD (instanceRef Dataout_pad_1))
           (portRef (member dataout 6))
          ))
          (net (rename Dataout_c_2 "Dataout_c[2]") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_2))
           (portRef D (instanceRef Dataout_pad_2))
          ))
          (net (rename Dataout_2 "Dataout[2]") (joined
           (portRef PAD (instanceRef Dataout_pad_2))
           (portRef (member dataout 5))
          ))
          (net (rename Dataout_c_3 "Dataout_c[3]") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_3))
           (portRef D (instanceRef Dataout_pad_3))
          ))
          (net (rename Dataout_3 "Dataout[3]") (joined
           (portRef PAD (instanceRef Dataout_pad_3))
           (portRef (member dataout 4))
          ))
          (net (rename Dataout_c_4 "Dataout_c[4]") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_4))
           (portRef D (instanceRef Dataout_pad_4))
          ))
          (net (rename Dataout_4 "Dataout[4]") (joined
           (portRef PAD (instanceRef Dataout_pad_4))
           (portRef (member dataout 3))
          ))
          (net (rename Dataout_c_5 "Dataout_c[5]") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_5))
           (portRef D (instanceRef Dataout_pad_5))
          ))
          (net (rename Dataout_5 "Dataout[5]") (joined
           (portRef PAD (instanceRef Dataout_pad_5))
           (portRef (member dataout 2))
          ))
          (net (rename Dataout_c_6 "Dataout_c[6]") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_6))
           (portRef D (instanceRef Dataout_pad_6))
          ))
          (net (rename Dataout_6 "Dataout[6]") (joined
           (portRef PAD (instanceRef Dataout_pad_6))
           (portRef (member dataout 1))
          ))
          (net (rename Dataout_c_7 "Dataout_c[7]") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_7))
           (portRef D (instanceRef Dataout_pad_7))
          ))
          (net (rename Dataout_7 "Dataout[7]") (joined
           (portRef PAD (instanceRef Dataout_pad_7))
           (portRef (member dataout 0))
          ))
          (net G1_c (joined
           (portRef Y (instanceRef G1_pad))
           (portRef B (instanceRef G2AN_pad_RNIRL86))
          ))
          (net G1 (joined
           (portRef G1)
           (portRef PAD (instanceRef G1_pad))
          ))
          (net G2AN_c (joined
           (portRef Y (instanceRef G2AN_pad))
           (portRef A (instanceRef G2AN_pad_RNIRL86))
          ))
          (net G2AN (joined
           (portRef G2AN)
           (portRef PAD (instanceRef G2AN_pad))
          ))
          (net G2BN_c (joined
           (portRef Y (instanceRef G2BN_pad))
           (portRef C (instanceRef G2AN_pad_RNIRL86))
          ))
          (net G2BN (joined
           (portRef G2BN)
           (portRef PAD (instanceRef G2BN_pad))
          ))
          (net Dataout79 (joined
           (portRef Y (instanceRef G2AN_pad_RNIRL86))
           (portRef C (instanceRef Dataout_pad_RNO_7))
           (portRef C (instanceRef Dataout_pad_RNO_6))
           (portRef C (instanceRef Dataout_pad_RNO_5))
           (portRef C (instanceRef Dataout_pad_RNO_4))
           (portRef C (instanceRef Dataout_pad_RNO_3))
           (portRef C (instanceRef Dataout_pad_RNO_2))
           (portRef C (instanceRef Dataout_pad_RNO_1))
           (portRef C (instanceRef Dataout_pad_RNO_0))
          ))
          (net (rename Z_l3_Dataout39_1 "_l3.Dataout39_1") (joined
           (portRef Y (instanceRef DataIn_pad_RNIJEJ8_0))
           (portRef A (instanceRef Dataout_pad_RNO_7))
           (portRef A (instanceRef Dataout_pad_RNO_3))
          ))
          (net (rename Z_l0_Dataout12_0 "_l0.Dataout12_0") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_0_0))
           (portRef B (instanceRef Dataout_pad_RNO_0))
          ))
          (net (rename Z_l1_Dataout21_0 "_l1.Dataout21_0") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_0_1))
           (portRef B (instanceRef Dataout_pad_RNO_1))
          ))
          (net (rename Z_l2_Dataout30_0 "_l2.Dataout30_0") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_0_2))
           (portRef A (instanceRef Dataout_pad_RNO_2))
          ))
          (net (rename Z_l4_Dataout48_0 "_l4.Dataout48_0") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_0_4))
           (portRef B (instanceRef Dataout_pad_RNO_4))
          ))
          (net (rename Z_l5_Dataout57_0 "_l5.Dataout57_0") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_0_5))
           (portRef B (instanceRef Dataout_pad_RNO_5))
          ))
          (net (rename Z_l6_Dataout66_0 "_l6.Dataout66_0") (joined
           (portRef Y (instanceRef Dataout_pad_RNO_0_6))
           (portRef A (instanceRef Dataout_pad_RNO_6))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design HC138 (cellRef HC138 (libraryRef work)))
)
