(edif HC00
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 16 19 40 31)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell OR2B (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A + !B"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC00 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename a "A[4:1]") 4) (direction INPUT))
           (port (array (rename b "B[4:1]") 4) (direction INPUT))
           (port (array (rename y "Y[4:1]") 4) (direction OUTPUT))
         )
         (contents
          (instance (rename Y_pad_RNO_4 "Y_pad_RNO[4]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename Y_pad_RNO_3 "Y_pad_RNO[3]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename Y_pad_RNO_2 "Y_pad_RNO[2]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename Y_pad_RNO_1 "Y_pad_RNO[1]") (viewRef prim (cellRef OR2B (libraryRef PA3)))          )
          (instance (rename Y_pad_4 "Y_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Y_pad_3 "Y_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Y_pad_2 "Y_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Y_pad_1 "Y_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename B_pad_4 "B_pad[4]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename B_pad_3 "B_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename B_pad_2 "B_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename B_pad_1 "B_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_4 "A_pad[4]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_3 "A_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_2 "A_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_1 "A_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename Y_pad_RNOZ0Z_1 "Y_pad_RNO[1]") (joined
           (portRef Y (instanceRef Y_pad_RNO_1))
           (portRef D (instanceRef Y_pad_1))
          ))
          (net (rename Y_pad_RNOZ0Z_2 "Y_pad_RNO[2]") (joined
           (portRef Y (instanceRef Y_pad_RNO_2))
           (portRef D (instanceRef Y_pad_2))
          ))
          (net (rename Y_pad_RNOZ0Z_3 "Y_pad_RNO[3]") (joined
           (portRef Y (instanceRef Y_pad_RNO_3))
           (portRef D (instanceRef Y_pad_3))
          ))
          (net (rename Y_pad_RNOZ0Z_4 "Y_pad_RNO[4]") (joined
           (portRef Y (instanceRef Y_pad_RNO_4))
           (portRef D (instanceRef Y_pad_4))
          ))
          (net (rename A_c_1 "A_c[1]") (joined
           (portRef Y (instanceRef A_pad_1))
           (portRef B (instanceRef Y_pad_RNO_1))
          ))
          (net (rename A_1 "A[1]") (joined
           (portRef (member a 3))
           (portRef PAD (instanceRef A_pad_1))
          ))
          (net (rename A_c_2 "A_c[2]") (joined
           (portRef Y (instanceRef A_pad_2))
           (portRef B (instanceRef Y_pad_RNO_2))
          ))
          (net (rename A_2 "A[2]") (joined
           (portRef (member a 2))
           (portRef PAD (instanceRef A_pad_2))
          ))
          (net (rename A_c_3 "A_c[3]") (joined
           (portRef Y (instanceRef A_pad_3))
           (portRef B (instanceRef Y_pad_RNO_3))
          ))
          (net (rename A_3 "A[3]") (joined
           (portRef (member a 1))
           (portRef PAD (instanceRef A_pad_3))
          ))
          (net (rename A_c_4 "A_c[4]") (joined
           (portRef Y (instanceRef A_pad_4))
           (portRef B (instanceRef Y_pad_RNO_4))
          ))
          (net (rename A_4 "A[4]") (joined
           (portRef (member a 0))
           (portRef PAD (instanceRef A_pad_4))
          ))
          (net (rename B_c_1 "B_c[1]") (joined
           (portRef Y (instanceRef B_pad_1))
           (portRef A (instanceRef Y_pad_RNO_1))
          ))
          (net (rename B_1 "B[1]") (joined
           (portRef (member b 3))
           (portRef PAD (instanceRef B_pad_1))
          ))
          (net (rename B_c_2 "B_c[2]") (joined
           (portRef Y (instanceRef B_pad_2))
           (portRef A (instanceRef Y_pad_RNO_2))
          ))
          (net (rename B_2 "B[2]") (joined
           (portRef (member b 2))
           (portRef PAD (instanceRef B_pad_2))
          ))
          (net (rename B_c_3 "B_c[3]") (joined
           (portRef Y (instanceRef B_pad_3))
           (portRef A (instanceRef Y_pad_RNO_3))
          ))
          (net (rename B_3 "B[3]") (joined
           (portRef (member b 1))
           (portRef PAD (instanceRef B_pad_3))
          ))
          (net (rename B_c_4 "B_c[4]") (joined
           (portRef Y (instanceRef B_pad_4))
           (portRef A (instanceRef Y_pad_RNO_4))
          ))
          (net (rename B_4 "B[4]") (joined
           (portRef (member b 0))
           (portRef PAD (instanceRef B_pad_4))
          ))
          (net (rename Y_1 "Y[1]") (joined
           (portRef PAD (instanceRef Y_pad_1))
           (portRef (member y 3))
          ))
          (net (rename Y_2 "Y[2]") (joined
           (portRef PAD (instanceRef Y_pad_2))
           (portRef (member y 2))
          ))
          (net (rename Y_3 "Y[3]") (joined
           (portRef PAD (instanceRef Y_pad_3))
           (portRef (member y 1))
          ))
          (net (rename Y_4 "Y[4]") (joined
           (portRef PAD (instanceRef Y_pad_4))
           (portRef (member y 0))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design HC00 (cellRef HC00 (libraryRef work)))
)
