(edif HC04
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 11 16 20 49 7)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC04 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename a "A[6:1]") 6) (direction INPUT))
           (port (array (rename y "Y[6:1]") 6) (direction OUTPUT))
         )
         (contents
          (instance (rename Y_pad_RNO_4 "Y_pad_RNO[4]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Y_pad_RNO_5 "Y_pad_RNO[5]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Y_pad_RNO_6 "Y_pad_RNO[6]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Y_pad_RNO_1 "Y_pad_RNO[1]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Y_pad_RNO_2 "Y_pad_RNO[2]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Y_pad_RNO_3 "Y_pad_RNO[3]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Y_pad_6 "Y_pad[6]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Y_pad_5 "Y_pad[5]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Y_pad_4 "Y_pad[4]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Y_pad_3 "Y_pad[3]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Y_pad_2 "Y_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Y_pad_1 "Y_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_6 "A_pad[6]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_5 "A_pad[5]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_4 "A_pad[4]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_3 "A_pad[3]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_2 "A_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename A_pad_1 "A_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename A_c_1 "A_c[1]") (joined
           (portRef Y (instanceRef A_pad_1))
           (portRef A (instanceRef Y_pad_RNO_1))
          ))
          (net (rename A_1 "A[1]") (joined
           (portRef (member a 5))
           (portRef PAD (instanceRef A_pad_1))
          ))
          (net (rename A_c_2 "A_c[2]") (joined
           (portRef Y (instanceRef A_pad_2))
           (portRef A (instanceRef Y_pad_RNO_2))
          ))
          (net (rename A_2 "A[2]") (joined
           (portRef (member a 4))
           (portRef PAD (instanceRef A_pad_2))
          ))
          (net (rename A_c_3 "A_c[3]") (joined
           (portRef Y (instanceRef A_pad_3))
           (portRef A (instanceRef Y_pad_RNO_3))
          ))
          (net (rename A_3 "A[3]") (joined
           (portRef (member a 3))
           (portRef PAD (instanceRef A_pad_3))
          ))
          (net (rename A_c_4 "A_c[4]") (joined
           (portRef Y (instanceRef A_pad_4))
           (portRef A (instanceRef Y_pad_RNO_4))
          ))
          (net (rename A_4 "A[4]") (joined
           (portRef (member a 2))
           (portRef PAD (instanceRef A_pad_4))
          ))
          (net (rename A_c_5 "A_c[5]") (joined
           (portRef Y (instanceRef A_pad_5))
           (portRef A (instanceRef Y_pad_RNO_5))
          ))
          (net (rename A_5 "A[5]") (joined
           (portRef (member a 1))
           (portRef PAD (instanceRef A_pad_5))
          ))
          (net (rename A_c_6 "A_c[6]") (joined
           (portRef Y (instanceRef A_pad_6))
           (portRef A (instanceRef Y_pad_RNO_6))
          ))
          (net (rename A_6 "A[6]") (joined
           (portRef (member a 0))
           (portRef PAD (instanceRef A_pad_6))
          ))
          (net (rename Y_1 "Y[1]") (joined
           (portRef PAD (instanceRef Y_pad_1))
           (portRef (member y 5))
          ))
          (net (rename Y_2 "Y[2]") (joined
           (portRef PAD (instanceRef Y_pad_2))
           (portRef (member y 4))
          ))
          (net (rename Y_3 "Y[3]") (joined
           (portRef PAD (instanceRef Y_pad_3))
           (portRef (member y 3))
          ))
          (net (rename Y_4 "Y[4]") (joined
           (portRef PAD (instanceRef Y_pad_4))
           (portRef (member y 2))
          ))
          (net (rename Y_5 "Y[5]") (joined
           (portRef PAD (instanceRef Y_pad_5))
           (portRef (member y 1))
          ))
          (net (rename Y_6 "Y[6]") (joined
           (portRef PAD (instanceRef Y_pad_6))
           (portRef (member y 0))
          ))
          (net (rename A_c_i_6 "A_c_i[6]") (joined
           (portRef Y (instanceRef Y_pad_RNO_6))
           (portRef D (instanceRef Y_pad_6))
          ))
          (net (rename A_c_i_5 "A_c_i[5]") (joined
           (portRef Y (instanceRef Y_pad_RNO_5))
           (portRef D (instanceRef Y_pad_5))
          ))
          (net (rename A_c_i_4 "A_c_i[4]") (joined
           (portRef Y (instanceRef Y_pad_RNO_4))
           (portRef D (instanceRef Y_pad_4))
          ))
          (net (rename A_c_i_3 "A_c_i[3]") (joined
           (portRef Y (instanceRef Y_pad_RNO_3))
           (portRef D (instanceRef Y_pad_3))
          ))
          (net (rename A_c_i_2 "A_c_i[2]") (joined
           (portRef Y (instanceRef Y_pad_RNO_2))
           (portRef D (instanceRef Y_pad_2))
          ))
          (net (rename A_c_i_1 "A_c_i[1]") (joined
           (portRef Y (instanceRef Y_pad_RNO_1))
           (portRef D (instanceRef Y_pad_1))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design HC04 (cellRef HC04 (libraryRef work)))
)
