(edif HC74
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2013 12 10 13 12 9)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "E-2010.09A-1, mapper mapact, Build 023R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT)
 )
         )
       )
    )
    (cell NOR2A (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(!A + B)"))
 )
           (port A (direction INPUT)
 )
           (port B (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INV (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!A"))
 )
           (port A (direction INPUT)
 )
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
       )
    )
    (cell DFN1P1C1 (cellType GENERIC)
      (property is_sequential (integer 1))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT)
           (property function (string "IQ"))
 )
           (port CLK (direction INPUT)
           (property clock (integer 1))
 )
           (port CLR (direction INPUT)
           (property clear (integer 1))
 )
           (port D (direction INPUT)
 )
           (port PRE (direction INPUT)
           (property preset (integer 1))
 )
         )
        (property is_ff (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell HC74 (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port (array (rename d "D[1:2]") 2) (direction INPUT))
           (port (array (rename clk "Clk[1:2]") 2) (direction INPUT))
           (port (array (rename q "Q[1:2]") 2) (direction OUTPUT))
           (port (array (rename sd "SD[1:2]") 2) (direction INPUT))
           (port (array (rename rd "RD[1:2]") 2) (direction INPUT))
           (port (array (rename qn "QN[1:2]") 2) (direction OUTPUT))
         )
         (contents
          (instance (rename Q_1_RNO_0_1 "Q_1_RNO_0[1]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename QN_pad_RNO_2 "QN_pad_RNO[2]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename QN_pad_RNO_1 "QN_pad_RNO[1]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Q_1_RNO_0_2 "Q_1_RNO_0[2]") (viewRef prim (cellRef INV (libraryRef PA3)))          )
          (instance (rename Q_1_RNO_2 "Q_1_RNO[2]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Q_1_RNO_1 "Q_1_RNO[1]") (viewRef prim (cellRef NOR2A (libraryRef PA3)))          )
          (instance (rename Q_1_1 "Q_1[1]") (viewRef prim (cellRef DFN1P1C1 (libraryRef PA3)))
          )
          (instance (rename Q_1_2 "Q_1[2]") (viewRef prim (cellRef DFN1P1C1 (libraryRef PA3)))
          )
          (instance (rename QN_pad_1 "QN_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename QN_pad_2 "QN_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename RD_pad_1 "RD_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename RD_pad_2 "RD_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SD_pad_1 "SD_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename SD_pad_2 "SD_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename Q_pad_1 "Q_pad[1]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Q_pad_2 "Q_pad[2]") (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance (rename Clk_pad_1 "Clk_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename Clk_pad_2 "Clk_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename D_pad_1 "D_pad[1]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance (rename D_pad_2 "D_pad[2]") (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (instance VCC_i_0 (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i_0 (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net (rename D_c_2 "D_c[2]") (joined
           (portRef Y (instanceRef D_pad_2))
           (portRef D (instanceRef Q_1_2))
          ))
          (net (rename D_2 "D[2]") (joined
           (portRef (member d 1))
           (portRef PAD (instanceRef D_pad_2))
          ))
          (net (rename D_c_1 "D_c[1]") (joined
           (portRef Y (instanceRef D_pad_1))
           (portRef D (instanceRef Q_1_1))
          ))
          (net (rename D_1 "D[1]") (joined
           (portRef (member d 0))
           (portRef PAD (instanceRef D_pad_1))
          ))
          (net (rename Clk_c_2 "Clk_c[2]") (joined
           (portRef Y (instanceRef Clk_pad_2))
           (portRef CLK (instanceRef Q_1_2))
          ))
          (net (rename Clk_2 "Clk[2]") (joined
           (portRef (member clk 1))
           (portRef PAD (instanceRef Clk_pad_2))
          ))
          (net (rename Clk_c_1 "Clk_c[1]") (joined
           (portRef Y (instanceRef Clk_pad_1))
           (portRef CLK (instanceRef Q_1_1))
          ))
          (net (rename Clk_1 "Clk[1]") (joined
           (portRef (member clk 0))
           (portRef PAD (instanceRef Clk_pad_1))
          ))
          (net (rename Q_1_c_2 "Q_1_c[2]") (joined
           (portRef Q (instanceRef Q_1_2))
           (portRef D (instanceRef Q_pad_2))
           (portRef A (instanceRef QN_pad_RNO_2))
          ))
          (net (rename Q_2 "Q[2]") (joined
           (portRef PAD (instanceRef Q_pad_2))
           (portRef (member q 1))
          ))
          (net (rename Q_1_c_1 "Q_1_c[1]") (joined
           (portRef Q (instanceRef Q_1_1))
           (portRef D (instanceRef Q_pad_1))
           (portRef A (instanceRef QN_pad_RNO_1))
          ))
          (net (rename Q_1 "Q[1]") (joined
           (portRef PAD (instanceRef Q_pad_1))
           (portRef (member q 0))
          ))
          (net (rename SD_c_2 "SD_c[2]") (joined
           (portRef Y (instanceRef SD_pad_2))
           (portRef A (instanceRef Q_1_RNO_2))
           (portRef A (instanceRef Q_1_RNO_0_2))
          ))
          (net (rename SD_2 "SD[2]") (joined
           (portRef (member sd 1))
           (portRef PAD (instanceRef SD_pad_2))
          ))
          (net (rename SD_c_1 "SD_c[1]") (joined
           (portRef Y (instanceRef SD_pad_1))
           (portRef A (instanceRef Q_1_RNO_1))
           (portRef A (instanceRef Q_1_RNO_0_1))
          ))
          (net (rename SD_1 "SD[1]") (joined
           (portRef (member sd 0))
           (portRef PAD (instanceRef SD_pad_1))
          ))
          (net (rename RD_c_2 "RD_c[2]") (joined
           (portRef Y (instanceRef RD_pad_2))
           (portRef B (instanceRef Q_1_RNO_2))
          ))
          (net (rename RD_2 "RD[2]") (joined
           (portRef (member rd 1))
           (portRef PAD (instanceRef RD_pad_2))
          ))
          (net (rename RD_c_1 "RD_c[1]") (joined
           (portRef Y (instanceRef RD_pad_1))
           (portRef B (instanceRef Q_1_RNO_1))
          ))
          (net (rename RD_1 "RD[1]") (joined
           (portRef (member rd 0))
           (portRef PAD (instanceRef RD_pad_1))
          ))
          (net (rename QN_2 "QN[2]") (joined
           (portRef PAD (instanceRef QN_pad_2))
           (portRef (member qn 1))
          ))
          (net (rename QN_1 "QN[1]") (joined
           (portRef PAD (instanceRef QN_pad_1))
           (portRef (member qn 0))
          ))
          (net (rename Q_1_RNOZ0Z_1 "Q_1_RNO[1]") (joined
           (portRef Y (instanceRef Q_1_RNO_1))
           (portRef CLR (instanceRef Q_1_1))
          ))
          (net (rename Q_1_RNOZ0Z_2 "Q_1_RNO[2]") (joined
           (portRef Y (instanceRef Q_1_RNO_2))
           (portRef CLR (instanceRef Q_1_2))
          ))
          (net (rename SD_c_i_1 "SD_c_i[1]") (joined
           (portRef Y (instanceRef Q_1_RNO_0_1))
           (portRef PRE (instanceRef Q_1_1))
          ))
          (net (rename SD_c_i_2 "SD_c_i[2]") (joined
           (portRef Y (instanceRef Q_1_RNO_0_2))
           (portRef PRE (instanceRef Q_1_2))
          ))
          (net (rename Q_1_c_i_1 "Q_1_c_i[1]") (joined
           (portRef Y (instanceRef QN_pad_RNO_1))
           (portRef D (instanceRef QN_pad_1))
          ))
          (net (rename Q_1_c_i_2 "Q_1_c_i[2]") (joined
           (portRef Y (instanceRef QN_pad_RNO_2))
           (portRef D (instanceRef QN_pad_2))
          ))
          (net GND_0 (joined
           (portRef Y (instanceRef GND_i_0))
          ))
          (net VCC_0 (joined
           (portRef Y (instanceRef VCC_i_0))
          ))
         )
       )
    )
  )
  (design HC74 (cellRef HC74 (libraryRef work)))
)
